
<! Dise Seite ist die erste Seite. Hier wird der Benutzer gefragt, der
Name einer Stadt einzugeben.>

<html>
    <head>
        <title> Wetter Seite</title>
    </head>
    <body>
        <h1>Wetter Vorhersage</h1>
        <h2><b>Wohin fährst du?</b></h2>
        <img src="{{ url_for('static', filename='images/Bildschirmfoto vom 2026-08-25 11-00-11.png') }}" alt = "localisation Bild" height="50" width="50"><br>
        
        
        <img src="{{ url_for('static', filename='images/welt_tmax_tag0.png') }}" alt="Welt Karte" height="300" width="700"><br>
        <p>
            Planst du gerade einen Urlaub und machst dir Gedanken über das Wetter? Wir haben gute Nachrichten <br>
            für dich! Gib einfach den Namen der Stadt ein, in die du reisen möchtest, und erfahre, wie das <br>
            Wetter dort in den nächsten sieben Tagen wird.
        </p><br>

        
        

        <form method="get">
            <label>Stadtname </label>
            <input type="text" id="name">
        </form>
        <button onclick="getName()">Wetter anzeigen</button>    
        
        <script>
            function getName() {
                let valeur = document.getElementById("name").value;
                let wetter_link = `http://127.0.0.1:5000/wetter?ville=${encodeURIComponent(valeur)}`;

                window.location.href = wetter_link
            }
        </script>

       

    </body>
</html>

