<! Hier ist die Seite, wo wir die entsprechenden Wetterdaten aufrufen werden>

<!DOCTYPE html>
<html>
    <head>
        <title> Wetter Daten</title>
    </head>
    <body>
        <h1>{{ stadt_name }}</h1>
        <img src="{{url_for('static', filename='images/Bildschirmfoto vom 2026-08-25 11-00-11.png')}}" alt="localisation Bild" height="50" width="50"><br>
        
        
        <p>
            Land: <b>{{land}}</b>,
            Landkreis: <b>{{region}}</b>,
            Bundesland: <b>{{info_random}}</b>, 
        </p>    
        <br>
        <h2> Das Wetter in {{ stadt_name }} jetzt</h2>

        

















        <p>

        </p>
        <pre>
            {{current_wetter}}
        </pre>

        <h2> Das Wetter für die Woche in {{ stadt_name }}</h2>
        <pre>
                {{tag}}
        </pre>
        
    </body>

</html>